
body {
    font-family: sans-serif;
}

.header {
    text-align: center;
    margin-top: 5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    margin-right: 1rem;
}

label:hover {
    cursor: pointer;
}

input {
    margin-top: 2rem;
}

button {
    margin-top: 1rem;
}

.main {
    border: 1px solid black;
    padding: 2rem 15rem;
    border-radius: 0.3rem;
}